@use "./node_modules/@henrycatalinismith/picknmix/picknmix.scss";

@include picknmix.theme;

:root {
  --aaa: limegreen;
  --aa: yellow;
  --aalarge: orange;
  --fail: var(--red);
}

body {
  background-color: var(--bg0);
  color: var(--fg);
  margin: 0;
}

.summary {
}

.summary circle {
  fill: transparent;
  stroke-width: 4;
}

.summary-aaa {
  stroke: var(--aaa);
}

.summary-aa {
  stroke: var(--aa);
}

.summary-aalarge {
  stroke: var(--aalarge);
}

.summary-fail {
  stroke: var(--fail);
}

.palette-score {
  align-items: center;
  display: flex;
  width: var(--column);
  margin: 0 auto;
}

.palette-score svg {
  width: 50%;
}

.palette-scores {
  font-family: var(--slab);
  width: 50%;

  th {
    text-align: left;
  }
}

.palette-score-label {
  font-family: var(--mono);
  font-size: 1.2rem;
  font-weight: bold;


  &[data-rating="AAA"] {
    color: var(--aaa);
  }

  &[data-rating="AA"] {
    color: var(--aa);
  }

  &[data-rating="AA Large"] {
    color: var(--aalarge);
  }

  &[data-rating="Fail"] {
    color: var(--fail);
  }

}

.palette {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(1rem, 3rem)
  );
  list-style-type: none;
  padding: 2rem 0;
  place-content: center;
  width: 100vw;
}

.palette-item {
  padding-top: 100%;
  position: relative;
}

.palette-button {
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  bottom: 0;
  left: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
}

.palette-button:focus {
  outline-offset: -0.6rem;
  outline-style: solid;
  outline-width: 0.2rem;
}

.palette-button:checked {
  --b: 0.2rem;
  &::before {
    border: var(--b) solid black;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    border: var(--b) solid white;
    content: "";
    width: calc(100% - var(--b) * 2);
    height: calc(100% - var(--b) * 2);
    position: absolute;
    top: var(--b);
    left: var(--b);
  }
}

.pairs {
  border-collapse: collapse;
  margin: 1rem auto;
  width: var(--column);
}

.pair {
  font-family: var(--slab);
  display: grid;
  grid-template-columns: 4rem auto max-content max-content;
  align-items: center;
}

.pair-sample {
  position: relative;
  height: 4rem;
  width: 4rem;
  text-align: center;
  line-height: 4rem;
}

.pair-sample span {
  position: absolute;
  top: 0;
  left: 0;
}

.pair-label {
  padding: 0 0.5rem;
}

.pair-rating {
  font-family: var(--mono);
  font-size: 1.2rem;

    text-shadow:
      0.1rem 0 0.05rem black,
      -0.1rem 0 0.05rem black,
      0 0.1rem 0.05rem black,
      0 -0.1rem 0.05rem black,
      0.1rem -0.1rem 0.05rem black,
      -0.1rem 0.1rem 0.05rem black,
      -0.1rem -0.1rem 0.05rem black,
      0.1rem 0.1rem 0.05rem black;

  &[data-rating="AAA"] {
    color: var(--aaa);
  }

  &[data-rating="AA"] {
    color: var(--aa);

    text-shadow:
      0.1rem 0 0 black,
      -0.1rem 0 0 black,
      0 0.1rem 0 black,
      0 -0.1rem 0 black,
      0.1rem -0.1rem 0 black,
      -0.1rem 0.1rem 0 black,
      -0.1rem -0.1rem 0 black,
      0.1rem 0.1rem 0 black;

  }

  &[data-rating="AA Large"] {
    color: var(--aalarge);
  }

  &[data-rating="Fail"] {
    color: var(--fail);
  }
}

